<div class="hero-unit">
<h1>Welcome</h1>
<p>
Aesthetic +1 mumblecore, blog messenger bag iphone jean shorts vice ethical squid terry richardson tofu ethnic retro. Narwhal cray farm-to-table seitan gentrify dreamcatcher. Kale chips irony shoreditch 3 wolf moon readymade tofu narwhal banh mi, mixtape marfa. Skateboard retro organic, bicycle rights pickled cliche banksy master cleanse before they sold out twee kale chips lo-fi aesthetic viral. Bicycle rights pitchfork keytar, brunch godard fixie iphone wolf synth. Locavore beard odd future, small batch carles dreamcatcher typewriter craft beer twee cliche aesthetic cred forage. Dreamcatcher master cleanse cosby sweater keytar.
</p>
<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
    
<h1>{{title}}</h1>
<article>
{{#if next}}
  {{#with next}}
  <header>
    <hgroup>
      <h2>Next up: {{title}}</h2>
      <h3>{{date "dddd, MMM Do, \at h:mma" starts_at}}</h3>
      <h4>@ <a href="{{location.url}}">{{location.name}}</a></h4>
    </hgroup>
  </header>
  <div>{{{description}}}</div>
  <aside>
    <h3>Coming?</h3>
    <input type="radio" name="rsvp" value="true"><label>Yes</label>
    <input type="radio" name="rsvp" value="false"><label>No</label>
  </aside>
  {{/with}}
 {{else}}
 <h2>No upcoming events</h2>
 {{/if}}
</article>
{{#if upcoming.length}}
<section>
  <header>
    <h2>Upcoming</h2>
  </header>
  <ul>
  {{#each upcoming}}
    <li>{{title}} {{date "M/D" starts_at}}</li>
  {{/each}}
  </ul>
</section>
{{/if}}
<script>
  (function () {
    var data = {
      starts_at: '{{date "YYYYMMDD HH:mm" next.starts_at}}'
    };
    $('input[name="rsvp"]').click(function () {
      data.rsvp = $(this).val();
      $.post('/my/events', data).done(function () {
        $('aside').html('Thanks for letting us know!');
      }).fail(function (jqXHR, status, error) {
        if (jqXHR.status === 400) {
          $('<div>You need to <a href="/auth/github">login</a> first</div>.').appendTo('aside');
        }
      });
    });
  }());
</script>
