<h1>{{title}}</h1>
<article>
{{#if next}}
  {{#with next}}
  <header>
    <hgroup>
      <h2>Next up: {{title}}</h2>
      <h3>{{date "dddd, MMM Do, \at h:mma" starts_at}}</h3>
      <h4>@ <a href="{{location.url}}">{{location.name}}</a></h4>
    </hgroup>
  </header>
  <div>{{{description}}}</div>
  <aside>
    <h3>Coming?</h3>
    <input type="radio" name="rsvp" value="true"><label>Yes</label>
    <input type="radio" name="rsvp" value="false"><label>No</label>
  </aside>
  {{/with}}
  {{else}}
  <h2>No upcoming events</h2>
 {{/if}}
</article>
{{#if upcoming.length}}
<section>
  <header>
    <h2>Upcoming</h2>
  </header>
  <ul>
  {{#each upcoming}}
    <li>{{title}} {{date "M/D" starts_at}}</li>
  {{/each}}
  </ul>
</section>
{{/if}}
<script>
  (function () {
    var data = {
      starts_at: '{{date "YYYYMMDD HH:mm" next.starts_at}}'
    };
    $('input[name="rsvp"]').click(function () {
      data.rsvp = $(this).val();
      $.post('/my/events', data).done(function () {
        $('aside').html('Thanks for letting us know!');
      });
    });
  }());
</script>
